*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: sans-serif;
    line-height: 1.4;
    scroll-behavior: smooth;
}

.page {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    color: #373741;
    padding: 10px 45px;
    text-decoration: none;
    align-items: center;
    background: #b1d4e0;
    transition: 1s;
    box-shadow: 6px 6px 0 #373741;
    transform: skewX(-15deg);
    font-weight: bold;
}

.cta:focus {
    outline: none; 
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 rgba(55, 55, 65, 0.5);
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

.cta span {
    transform: skewX(15deg) 
}

.cta span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
}

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
    0% {
        fill: #b1d4e0;
    }
    33% {
        fill: #ffffff;
    }
    67% {
        fill: #373741;
    }
    100% {
        fill: #ffffff;
    }
}